<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta name="viewport" content="width=device-wiendth, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>result</title>
</head>

<body>
    <h1 align="center">{{ .title }}</h1>
    <p>{{.data}}</p>
</body>
</html>